<div class="container">
    <div class="jumbotron">
        <% if user_signed_in? %>
            <div class="row">
                <div class="col-md-4 text-center">
                    <% if current_user.users_picture.attached? %>
                        <%= image_tag current_user.users_picture,  height: 150 %>
                    <% else %>
                        <div class="flex-box no-picture-big">
                            <div class="text-center ">NO IMAGE</div>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-8">
                
                    <h3><%= current_user.first_name %>
                    <%= current_user.last_name %></h3><br>
                    
                    <%= current_user.address %>, <%= current_user.state %><br>
                    <br>
                    <%= link_to "edit your profile", edit_user_registration_path(current_user), class: "btn btn-info" %>
                </div>  
                <div class="col-md-12" %>
                    <br><br>
                    <div class="card">
                        <h5 class="card-header">favorite_farmers</h5>
                        <div class="card-body">
                            <% if @favorite_farmers.count >= 1 %>
                                <% @favorite_farmers.each do |farmer| %>
                                    <%= link_to "farmer_path(farmer.farmer)" do %>
                                        <strong><%= farmer.farmer.farm_name %></strong><br>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <p>There is no favorite famers.</p>
                            <% end %>
                        </div>
                    </div> 
                </div> 
                <div class="col-md-12" %>
                    <div class="card">
                        <h5 class="card-header">Order History</h5>
                        <div class="card-body">
                            <% if !current_user.order_history.empty? %>
                                <%= link_to "History show page", orders_complete_path %>
                            <% else %>
                                <p>There is no order history.</p>
                            <% end %>
                        </div>
                    </div>
                </div> 
        <% else %>
            <p>You need to sign in or sign up before continuing.</p>
        <% end %>
    </div>   
</div>
