<%# All farmers page %>

<h1>Farmers</h1>

<div class="row">
  <% @farmers.each do |farmer| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="image">
          <% if farmer.farmers_picture.attached? %>
            <%= image_tag farmer.farmers_picture, id: "card-image" %>
          <% end %>
        </div>
        <div class="card-inner">
          <div class="header">
            <h2><%=farmer.farm_name %></h2>
            <h3><%=farmer.full_name %></h3>
            <h3><%=farmer.state %></h3>
          </div>
          <div class="content">
            <tr>
              <td><%= farmer.address %></td><br>
              <td><%= link_to 'Show', farmer , class: 'btn btn-info mt-2'%></td>
              <% if user_signed_in? && current_user.farmer == farmer %>
                <td><%= link_to 'Edit', edit_farmer_path(farmer), class: 'btn btn-info mt-2' %></td>
                <td><%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-info mt-2'%></td>
              <% end %>
            <tr>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<p>
  <%= paginate @farmers %>
</p>
