<p id="notice"><%= notice %></p>

<p>
  <strong>Farm name:</strong>
  <%= @farmer.farm_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @farmer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @farmer.last_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @farmer.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farmer.address %>
</p>
<% if user_signed_in? && current_user.farmer == @farmer %>
<%= link_to 'Edit', edit_farmer_path(@farmer) %>
<% end %> |
<%= link_to 'Back', farmers_path %>

<h2> reviews: </h2>
<p>
<% @reviews.each do |review| %>
  
  <%= review.comment %>
  <%= review.rating %>

  <% if user_signed_in? && current_user == review.user %>
    <%= link_to 'Destroy', "/farmers/#{@farmer.id}/reviews/#{review.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

</p>
<% if user_signed_in? %>
  <%= link_to "create view for this farmer", new_farmer_review_path(@farmer) %>
<% end %>
<h2>End of reviews</h2>

<h1>Products of </h1><%= @farmer.farm_name %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>State</th>
      <th>Stock</th>
      <th>Farm_Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.state %></td>
            <td><%= product.stock %></td>
            <td><%= @farmer.farm_name %></td>
              <% if product.picture.attached? %>
              <td><%=image_tag product.picture, width: 50 %></td>
              <% end %>
            <td><%= link_to "SHOW", product %></td>
          </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? && current_user.farmer == @farmer %>
  <%= link_to 'create product page', new_product_path %>
<% end %>
<br>
<% if user_signed_in? && !current_user.has_role?(:farmer) %>
    <% if !FavoriteFarmer.exists?(user_id: current_user.id, farmer_id: @farmer.id) %>
      <%= link_to "Add to favorite list", user_add_path(@farmer), method: :post%>
    <% else %>
      <%= link_to "Remove from favorite list", user_remove_path(@farmer), method: :delete %>
    <% end %>
<% else %>
  
<% end %>
    

<p>Number of follower for</p><%= @farmer.first_name %>
<h6>
<%= @favorited_users.count %>
</h6>
    