<h1>Categories#create</h1>
<p>Find me in app/views/categories/create.html.erb</p>

<% @categories.each do |category| %>
    <%= category.name %>
<% end %>

<%= form_with(model: @category, local: true) do |form| %>

    <div class="field">
        <%= form.label :category %>
        <%= form.text_field :name %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>