<!-- this partial (all products) renders at top page and products page -->


<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="card">
        <div class="image">
          <% if product.picture.attached? %>
            <%= image_tag product.picture,  id: "card-image" %>
          <% end %>
        </div>
        <div class="card-inner">
          <div class="header">
            <h4><%=product.name %></h4>
            <%=product.description %><br>
           <div class= "text-right"><%=number_to_currency(product.price) %></div>
          </div>
          <div class="content">
            <span class="font-size:1vw"><%= product.state %><br></span>
            Category: <%= Category.find(product.category_id).name %><br>
            <%= link_to "SHOW", product , class: "btn btn-info btn-sm mb-2 mt-1" %>
            <% if user_signed_in? && current_user.farmer == product.farmer %>
              <%= link_to "DELETE", product , method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-info btn-sm mt-1 mb-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
