<h1> Search by categry </h1>

<%= form_tag(products_path, method: "get") do %>
    <%= collection_select(:search, :category_id, Category.all, :id, :name, prompt: 'All products') %>
    <%= text_field_tag(:state, params[:name]) %>

    <%= submit_tag "Search", class: "btn btn-warning" %>
<% end %>
  
<%= render 'products/index' %>

